<template name="home">
    <div id="page-content-wrapper">
        <h2 id="home">
            <h1>Home Gym Trainner</h1>
        </h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
        <div id="player"></div>
        <br><br>
        <q>돈을 잃는것은 조금잃는것이고 명예를 잃으면 많이 잃는것이요
            <br>
            건강을 잃는것은 전부를 잃는것이다.
            <br>
            병에 걸리기 전까지 건강이 얼마나 중요한지 모른다.
            <br>
            <h4>-토마스 풀러</h4>
            <br><br>

            행복은 우리에게 건강의 근본이 되는 에너지를 준다.
            <br>
            <h4>-알리 프레데릭 아미엘</h4>
            <br><br>
            습관을 조심하라 운명이 된다.
            <br>
            <h4>-마가렛 대처</h4>
            <br><br>

            건강에 대한 지나친 걱정은 그만두라. 건강이 달아날테니
            <br>
            <h4>-로버트 오벤</h4>
            <br><br>

            운동은 하루를 짧게 하지만 인생은 길게 해준다.
            <br>
            <h4>-조스린</h4>
            <br><br>

            대기실의 식물이 말라 죽어가는 병원의 의사에게는 절대 가지 말아야한다.
            <br>
            <h4>-엘마 봉베크</h4>
            <br><br>

            귀를 기울여 들어준다면 우리 몸은 우리에게 분명하고
            <br>
            구체적으로 얘기한다.
            <br>
            <h4>-삭티 거웨인</h4>
            <br><br>

            아침은 왕처럼 점심은 왕자처럼 저녁은 거지처럼 먹어라
            <br>
            <h4>-아델 데이비스</h4>
            <br><br>
        </q>
    </div>
</template>
