<template name="join">
    <div id="page-content-wrapper">
        <h2 id="join">회원가입</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {{#unless currentUser}}
                        <!--<form id="front-join">-->
                            <input id="front-join-username" type="text" placeholder="아이디">
                            <input id="front-join-password" type="password" placeholder="비밀번호">
                            <br>
                            <button id="front-join-submit" name="iconcolor" type="button" class="btn btn-inverse active">회원가입 완료</button>
                        <!--</form>-->
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</template>