<template name="oneset">
    <div id="page-content-wrapper">
        <h2 id="oneset">First Set</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p><strong>1 Set Part</strong></p>

                    <br>
                        <embed width="500px" height="500px" src="{{playList}}" type="application/x-shockwave-flash">
                    <br>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
                            25%
                        </div>
                    </div>

                    <!--다음 세트로 넘어가는 Next 버튼-->
                    <br>
                    <div>
                        <br>
                        <a href="{{pathFor 'twoset'}}" id ="player" class="btn  btn-info" role="button">Next</a>
                    </div>
                    <br>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>
</template>

